{% extends 'base.html.twig' %}
{% block title %}Connexion au site
{% endblock %}
{% block body %}
	<div class="container mb-4 mt-4">
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-5">
				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title text-center">
							<i class="fa fa-lock"></i>
							Connectez-vous
						</h4>
					</div>
					<div class="card-body">
						{% if hasError %}
							<div class="alert alert-danger">
								<p>Les informations que vous avez fournies ne sont pas bonnes.</p>
							</div>
						{% endif %}
						<form method="post">
							<div class="form-group">
								<label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse email ..." name="_username" value="{{ username }}"></div>
							<div class="form-group">
								<label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe ..." name="_password"></div>
							<div class="form-group">
								<button type="submit" class="genric-btn danger">
									Connexion
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
