.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.navbar-brand {
    font-weight: bold;
}

.avatar-medium {
    max-width: 110px;
    max-height: 110px;
    border-radius: 60px;
}

.search {
    height: 42px;
}

.avatar-mini {
    max-width: 45px;
    max-height: 45px;
    border-radius: 40px;
}

.avatar-header {
    max-width: 35px;
    min-width: 35px;
    border-radius: 25px;
}


.alert a {
    text-decoration: none;
}

.bg-coffee {
    background-color: #000;
}

.card {
    display: flex;
    margin-top:7%;
    justify-content: center;
}